@charset "UTF-8";

body {
    padding: 0;
    margin: 0;
    background-color: aqua;
}

.container {
    width: 600px;
    background-color: white;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}



